<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>SERVER ERROR</h1>
            <p>Something is wrong on our side. We are working on fixing this. Sorry for the inconvenience.</p>

            <%- include('includes/end.ejs') %>